# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
*.jar
*.war
*.hpi
*.jpi
!src/main/resources/**/*.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db
